<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviso de Autenticação</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <main class="main-content">
    <div class="main-content-box">
      <h1>Para comprar, acesse sua conta</h1>
      <p>Para continuar comprando, você precisa estar autenticado.</p>
      <div class="action-buttons">
        <a href="/auth/login" class="button">Entrar</a>
        <a href="/auth/registro" class="button">Criar Conta</a>
      </div>
    </div>  
  </main>
  <%- include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
