<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<% include('../layouts/header') %>
<body class="editar-perfil"> <!-- Adicionando a classe editar-perfil -->
  <button id="back-button">Voltar</button>
  <main>
      <h1>Editar Perfil</h1>
      <form action="/cliente/editarPerfil" method="post">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" value="<%= cliente.nome %>">
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= cliente.email %>">
          
          <button type="submit">Salvar</button>
      </form>
      <a href="/cliente/perfil">Voltar para o Perfil</a>
  </main>
  <% include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
