// assets/css/_variables.scss

$font-family: 'Roboto', sans-serif;

$primary-color: #3498db; // Azul
$secondary-color: #2ecc71; // Verde
$background-color: #f9f9f9; // Cinza claro
$text-color: #333; // Cinza escuro
$font-family: 'Arial', sans-serif;
$border-radius: 4px;
$border-radius2: 10px;
$padding: 16px;
